@import url('./components/input.css');
@import url('./components/button.css');
@import url('./components/noscript.css');

body {
    font-weight: 500;
    font-family: 'Poppins', 'Inter', sans-serif;
    background-color: var(--white);
}

a:focus-visible {
    border-radius: 2px;
    outline-offset: 2px;
    outline: 2px dashed black;
}

.wrapper {
    inset: 0;
    z-index: -1;
    position: fixed;
    overflow: hidden;
    pointer-events: none;
}

.figure {
    position: absolute;
}

.figure--elipse {
    z-index: 2;
    inset: 0 0 auto auto;
}

.figure--rectangle {
    z-index: 1;
    inset: auto auto 0 0;
}

.main {
    position: relative;
}

.main section {
    width: 100%;
}

.main section.is-hidden {
    display: none;
}

.main section.is-visible {
    opacity: 0;
    display: block;
    visibility: hidden;
    pointer-events: none;
    animation: section-visible .5s ease-out forwards;
}

.container {
    min-height: 100dvh;
    max-width: calc(450px + 30px * 2);
    padding-inline: 30px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.account__container {
    padding-block: 76px;
}

.login__container,
.register__container {
    padding-block: 96px;
}

.account__image {
    height: auto;
    margin-bottom: 72px;
}

.account__body {
    row-gap: 88px;
    /* padding-inline: 10px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.account__descriptions {
    max-width: 350px;
    text-align: center;
}

.title--color {
    color: var(--dark-blue);
}

.account__title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 22px;
}

.account__subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--black);
}

.account__actions {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login__descriptions {
    max-width: 250px;
    margin-bottom: 74px;
    text-align: center;
}

.login__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 26px;
}

.login__subtitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}

.login__form {
    width: 100%;
    max-width: 368px;
    row-gap: 30px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
}

.link {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-blue);
}

.login__forgot-link {
    margin-left: auto;
}

.login__forgot-link:hover,
.login__forgot-link:active {
    text-decoration: underline;
}

.link-inner {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

.link-inner__text {
    margin-inline: auto;
}

.link-inner__body {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register__descriptions {
    max-width: 330px;
    margin-bottom: 52px;
    text-align: center;
}

.register__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 6px;
}

.register__subtitle {
    font-size: 14px;
    color: var(--black);
}

.register__form {
    width: 100%;
    max-width: 368px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
}

.register__form-inner {
    row-gap: 26px;
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
}