.button:focus-visible {
    /* border-radius: 2px; */
    outline-offset: 2px;
    outline: 2px dashed black;
}

.button {
    font-size: 20px;
    font-weight: 600;
    padding-block: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: transform .1s linear, box-shadow .1s linear, opacity .1s linear;
}

.button:active {
    opacity: .9;
    transform: scale(.98);
    box-shadow: none;
}

.button--fill {
    color: var(--white);
    box-shadow: 0 10px 20px var(--light-blue);
    background-color: var(--dark-blue);
}

.button--fill-link {
    background-color: var(--silver);
}

.button--transparent {
    color: var(--light-black);
    background-color: var(--none);
}

/* -- -- -- */

.button--login {
    min-height: 60px;
    padding-inline: 52px;
}

.button--register {
    min-height: 60px;
    padding-inline: 38px;
}

.button--sign-in,
.button--sign-up {
    min-height: 60px;
    width: 100%;
    padding-inline: 38px;
}

.button--sign-up {
    margin-bottom: 30px;
}

.button--new-account,
.button--have-account {
    min-height: 40px;
    width: 100%;
    font-size: 14px;
    padding-inline: 38px;
}

.button--new-account.button--transparent,
.button--have-account.button--transparent {
    color: var(--dark-grey);
}

.button--link {
    min-height: 44px;
    padding-inline: 18px;
}